@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 210 15% 95%;
		--foreground: 210 20% 20%;

		--muted: 210 15% 90%;
		--muted-foreground: 210 15% 40%;

		--popover: 210 15% 95%;
		--popover-foreground: 210 20% 20%;

		--border: 210 15% 85%;
		--input: 210 15% 85%;

		--card: 210 15% 95%;
		--card-foreground: 210 20% 20%;

		--primary: 210 60% 45%;
		--primary-foreground: 210 80% 98%;

		--secondary: 210 20% 85%;
		--secondary-foreground: 210 25% 30%;

		--accent: 210 20% 90%;
		--accent-foreground: 210 25% 30%;

		--destructive: 0 60% 50%;
		--destructive-foreground: 0 0% 100%;

		--ring: 210 25% 30%;

		--radius: 0.5rem;

		--chart-1: 210 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 70% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;

		--sidebar-background: 210 15% 90%;
		--sidebar-foreground: 210 25% 30%;

		--sidebar-primary: 210 60% 45%;
		--sidebar-primary-foreground: 0 0% 98%;

		--sidebar-accent: 210 15% 85%;
		--sidebar-accent-foreground: 210 25% 30%;

		--sidebar-border: 210 15% 80%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}

	.dark {
		--background: 210 20% 15%;
		--foreground: 210 10% 85%;

		--muted: 210 15% 20%;
		--muted-foreground: 210 15% 70%;

		--accent: 210 15% 20%;
		--accent-foreground: 210 10% 95%;

		--popover: 210 20% 15%;
		--popover-foreground: 210 10% 85%;

		--border: 210 15% 25%;
		--input: 210 15% 25%;

		--card: 210 20% 15%;
		--card-foreground: 210 10% 85%;

		--primary: 210 60% 50%;
		--primary-foreground: 210 10% 90%;

		--secondary: 210 15% 25%;
		--secondary-foreground: 210 10% 95%;

		--destructive: 0 50% 40%;
		--destructive-foreground: 0 0% 98%;

		--ring: 210 20% 70%;

		--radius: 0.5rem;

		--chart-1: 210 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 70% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;

		--sidebar-background: 210 20% 15%;
		--sidebar-foreground: 210 10% 85%;

		--sidebar-primary: 210 60% 50%;
		--sidebar-primary-foreground: 0 0% 100%;

		--sidebar-accent: 210 15% 25%;
		--sidebar-accent-foreground: 210 10% 85%;

		--sidebar-border: 210 15% 25%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-feature-settings: "rlig" 1, "calt" 1;
	}
}
